# IDE
.idea/
*.iml
.vscode/

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Node
node_modules/
dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Kubernetes secrets (если будут)
*.secret.yaml